/*
Alexander Dammers
Css script for multiple lines graph
*/

body {
  font: 12px sans-serif;
}

.axis path,
.axis line
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path
{
  display: none;
}
.name 
{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.line
{
  fill: none;
  stroke: blue;
  stroke-width: 1px;
}

